{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'auto_reply/chat.css' %}" />

{% block body %}
  <hr>
  <div align="right">
    <div class="chat-box">
<!--      <img src="{{ STATIC_URL }}images/routen.png" alt="my-chat-picture" width="90" height=90" /> -->
      <img src="{{ MEDIA_URL }}auto_reply/images/routen.png" alt="my-chat-picture" width="90" height=90" />
    </div>
    <div class="chat-face">
    </div>
    <div class="chat-area">
      <div class="chat-hukidashi">
        {{ message }}
      </div>
    </div>
  </div>
  <form method="get" action="">
    {{ form.errors.your_name }}
    <label>{{ form.your_name.label }} {{ form.your_name }}</label><br>

    {{ form.errors.gender }}
    <label>{{ form.gender.label }} {{ form.gender }}</label><br>

    {{ form.errors.memo }}
    <label style="vertical-align: top;">{{ form.memo.lable }} {{ form.memo }}</label><br>

    <input type="submit" value="Send">
  </form>
{% endblock %}
